<!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><button routerLink="/profile" roterLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2">Profile</button></li>
    <li><button routerLink="/Verify" roterLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2">Products</button></li>
    <li><button routerLink="/Reset" roterLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2">Cart</button></li>
    <li><button routerLink="/account" roterLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2">Account</button></li>
  <li><button routerLink="/delete" roterLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2">Admin</button></li>
  </ul> -->
